h1 {
    text-align: center;
    color: aliceblue;
    display: block;
    font-size: 48px;
}

p {
    display: block;
    font-size: 25px;
    text-align: center;
}

footer {
    text-align: center;
    display: block;
    color: aliceblue;
}

a {
   text-decoration: underline;
   cursor: pointer;
}

body {
    background-color: mediumpurple;
}